  .header-container {
    text-align: center;
    background-image: url("HogHouses.png"), url("Hogwarts-Crest.jpg");
    background-repeat: no-repeat;
    background-position: top right, top left;
    background-size: contain;
  }
  
  .main {
    padding: 30px;
  }
  
  .students-container {
    padding: 20px;
    height: 600px;
    overflow: scroll;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
  }
